{% extends 'admin.html' %}
{% load crispy_forms_tags %}
{% block content %}

<div class="card">
<div class="card">

        <div class="card-header  bg-primary">
            <strong class="card-title " style="color:white">REVIEW DETAILS</strong>
        </div>
        <div class="card-body">
            <table class="table">
                <thead>
    <tr>
        <th scope="col">SI NO</th>
        <th scope="col">STUDENT NAME</th>
        <th scope="col">DATE</th>
        <th scope="col">COMMENTS</th>
    </tr>
                </thead>
                <tbody>
    {% for i in data %}
    <tr>
        <td>{{forloop.counter}}</td>
        <td>{{i.student.name}}</td>
        <td>{{i.date}}</td>
        <td>{{i.comments}}</td>
    </tr>
    {% endfor %}
                </tbody>
</table>
</div>
</div>
</div>

{% endblock %}
